@charset "utf-8";
/* SIR 지운아빠 */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    width: 100%;
    height: 100%;
    min-height: 500px;
    background: #0074DB;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 버튼 */
.mbskin{font-size:1em;}
.mbskin a.btn01 {}
.mbskin a.btn01:focus, .mbskin .btn01:hover {}
.mbskin a.btn02 {}
.mbskin a.btn02:focus, .mbskin .btn02:hover {}
.mbskin .btn_confirm {} /* 서식단계 진행 */
.mbskin .btn_submit {}
.mbskin button.btn_submit {}
.mbskin fieldset .btn_submit {}
.mbskin .btn_cancel {}
.mbskin button.btn_cancel {}
.mbskin .btn_cancel:focus, .mbskin .btn_cancel:hover {}
.mbskin a.btn_frmline, .mbskin button.btn_frmline {} /* 우편번호검색버튼 등 */
.mbskin button.btn_frmline {}
.mbskin .win_btn {} /* 새창용 */
.mbskin .win_btn button {}
.mbskin .win_btn input {}
.mbskin .win_btn a {}
.mbskin .win_btn a:focus, .mbskin .win_btn a:hover {}
/* 게시판용 버튼 */
.mbskin a.btn_b01 {}
.mbskin a.btn_b01:focus, .mbskin .btn_b01:hover {}
.mbskin a.btn_b02 {}
.mbskin a.btn_b02:focus, .mbskin .btn_b02:hover {}
.mbskin a.btn_admin {} /* 관리자 전용 버튼 */
.mbskin a.btn_admin:focus, .mbskin a.btn_admin:hover {}

/* 기본테이블 */
.mbskin .tbl_head01 {}
.mbskin .tbl_head01 caption {}
.mbskin .tbl_head01 thead th {}
.mbskin .tbl_head01 thead a {}
.mbskin .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.mbskin .tbl_head01 tfoot th {}
.mbskin .tbl_head01 tfoot td {}
.mbskin .tbl_head01 tbody th {}
.mbskin .tbl_head01 td {}
.mbskin .tbl_head01 a {}
.mbskin td.empty_table {}

/* 폼 테이블 */
.mbskin table {}
.mbskin caption {}
.mbskin .frm_info {}
.mbskin .frm_info.none {display:none;}
.mbskin .point{ display:block; padding-top:10px;}
.mbskin .frm_file {}

.mbskin .tbl_frm01 {}
.mbskin .tbl_frm01 th {width:15% !important; font-weight:500 !important; background:#fbfbfb;}
.mbskin .tbl_frm01 th label {font-weight:500 !important;}
.mbskin .tbl_frm01 td {}
.mbskin .tbl_frm01 textarea, .mb_skin tbl_frm01 .frm_input {}
.mbskin .tbl_frm01 textarea {}
.mbskin .form-control{display:inline-block; width: inherit; height:35px !important; line-height:1em !important; padding:6px 12px !important; font-size:0.92em; box-shadow:none;}
.mbskin .form-control.sharp{ background:url(/img/fitset/member/sharp_off.png) #f7f7f7 no-repeat 2px center; padding-left:16px !important;}
.mbskin .form-control.sharp:active{ background:url(/img/fitset/member/sharp.png) #f7f7f7 no-repeat 2px center; }
.mbskin .form-control.sharp:focus{ background:url(/img/fitset/member/sharp.png) #f7f7f7 no-repeat 2px center; }
.mbskin .btn-default{font-size:0.92em; padding:8px 12px 7px 12px;}
/*
.mbskin .tbl_frm01 #captcha {}
.mbskin .tbl_frm01 #captcha input {}
*/

.mbskin .tbl_frm01 a {}
@media (max-width: 991px) {
    .mbskin .form-control{font-size:1em; }
    .mbskin .form-control.left{width:calc(100% - 80px)}
    .mbskin .form-control.score{width:100%;}
    .mbskin .date{width:32%; padding:6px 2px !important;}
    .mbskin .get{display:block; padding:5px 0; }
    .mbskin .tbl_frm01 th {width: inherit; font-size:0.9em; font-weight:400 !important; padding:4px 8px;}
    .mbskin .tbl_frm01 th label{ font-weight:500 !important; }
    .mbskin .tbl_frm01 td {font-size:0.9em; font-weight:400 !important;}
    .mbskin .btn-default{padding:9px 4px;}
}


/* 필수입력 */
.mbskin .required, .mbskin textarea.required {}

/* 테이블 항목별 정의 */
.mbskin .td_board {}
.mbskin .td_chk {}
.mbskin .td_date {}
.mbskin .td_datetime {}
.mbskin .td_group {}
.mbskin .td_mb_id {}
.mbskin .td_mng {}
.mbskin .td_name {}
.mbskin .td_nick {}
.mbskin .td_num {}
.mbskin .td_numbig {}

.mbskin .txt_active {}
.mbskin .txt_expired {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 회원가입 약관 */
#fregister section {margin:0 0 20px; padding:20px; border:1px solid #e8e8e8; background:#fff; /*border-radius:6px;*/ }
#fregister h2 {margin:0 0 20px; font-size:1.3em; padding-bottom:10px; border-bottom:3px solid #F1F1F1; display:inline-block;}
#fregister h2.bti{font-size:1.5em; color:#000;}
#fregister textarea {display:block;margin-bottom:5px;padding:15px;width:100%;height:100px;border:1px solid #fff;background:#f7fafc;}
#fregister .fregister_agree {padding:10px 0 0;text-align:right}
#fregister .fregister_agree label {display:inline-block;margin-right:5px}
#fregister p {color:#e8180c;text-align:center; display:none;}
#fregister .btn_confirm {margin-bottom:20px}
#fregister_private .tbl_head01 th{;text-align:center;border:1px solid #d1dee2;width:33%}
#fregister_private .tbl_head01 td {border:1px solid #e9e9e9}
#fregister_private .tbl_head01 caption{position:absolute;font-size:0;line-height:0;overflow:hidden}
#fregister .join_btn{padding:10px 50px; border:1px solid #1a75bc;background:#1a75bc; border-radius:0 !important;}
@media (max-width: 991px) {
    #fregister section {margin:0 0 10px 0; padding:8px;}
    #fregister h2 {margin:0 0 10px;font-size:1.1em;}
    #fregister h2.bti{font-size:1em; background: #FAFAFA; border:1px solid #ddd; padding:7px 0; margin-bottom:8px;}
    #fregister .fregister_agree{padding:2px 0 0; text-align:center;}
    #fregister .fregister_agree label{font-weight:400; font-size:0.88em;}
    #fregister textarea{font-size:0.88em;  height:108px;}
    #fregister_private .tbl_head01 {font-size:0.88em;}
    #fregister_private .tbl_head01 caption{display:none;}
    #fregister_private .tbl_head01 td{padding:5px;}
}



/* 회원가입 입력 */
#fregisterform textarea {height:50px}
#fregisterform #msg_certify {margin:5px 0 0;padding:5px;border:1px solid #dbecff;background:#eaf4ff;text-align:center}

#fregisterform .frm_address {margin:5px 0 0}
#fregisterform #mb_addr3 {display:inline-block;margin:5px 0 0;vertical-align:middle}
#fregisterform #mb_addr_jibeon {display:block;margin:5px 0 0}

#fregisterform .join_newbtn{padding:10px 50px; border:1px solid #1a75bc; background:#1a75bc; box-shadow:none !important; border-radius:0 !important;}
#fregisterform .cancel_newbtn{padding:10px 50px; border:1px solid #1a75bc; background:#fff; color:#1a75bc; box-shadow:none !important; border-radius:0 !important;}

.new_join{width:70%; margin:0 auto;}
.new_join .tbl_frm01{margin-bottom:0;}
.new_join .tbl_frm01 th label{}
.new_join .tbl_frm01 td{border:0; border-bottom:1px dashed #ECECEC; padding:10px;}
.new_join .tbl_frm01 th{border:0; border-bottom:1px dashed #ECECEC; background:#fff; font-size:1.12em; line-height:1.2em; font-weight:500 !important;}
.new_join .frm_input{width:100%; border:1px solid #e8e8e8; height:50px; padding-left:5px; background:#fff !important; }
.new_join .frm_input input::placeholder{font-size:0.88em; color:#ddd;}
.new_join .frm_input input::-webkit-input-placeholder{font-size:0.88em;  color:#ddd;}
.new_join .frm_input input::-moz-placeholder{font-size:0.88em;  color:#ddd;}
.new_join .frm_input input:-ms-input-placeholder{font-size:0.88em;  color:#ddd;}
.new_join .frm_input input:-moz-placeholder{font-size:0.88em;  color:#ddd;}

.new_join #captcha #captcha_key{width:192px; border:1px solid #e8e8e8;  background:#fff;}
.new_join .btn_confirm{margin-top:20px;}


@media (max-width: 1200px) {
    .new_join{width:100%;}
}
@media (max-width: 700px) {
    .new_join #captcha #captcha_key{margin-left:0; margin-top:8px; display:block;}
    .new_join .frm_input{height:40px; }
    .new_join .tbl_frm01 th label{width:80px;}
    .new_join .tbl_frm01 th{font-size:1em;}
}


@media (max-width: 991px) {
    .tbl_wrap caption{ background:#FAFAFA; border:1px solid #ddd; padding:5px 0 !important; text-align:center !important; color:#000; font-size:0.96em !important; margin:12px 0 10px 0 !important;}
}


/* 회원가입 완료 */
#reg_result {padding:50px 0 0}
#reg_result #result_email {margin:20px 0;padding:10px 50px;border-top:1px solid #e9e9e9;border-bottom:1px solid #dde4e9;background:#fff;line-height:2em}
#reg_result #result_email span {display:inline-block;width:150px}
#reg_result #result_email strong {color:#e8180c;font-size:1.2em}
#reg_result p {line-height:1.8em}
#reg_result .btn_confirm {margin:50px 0}
#reg_result.finish{ text-align:center;}
#reg_result .welc01{font-size:1.5em; margin-bottom:20px; font-weight:500;}
#reg_result .welc01 strong{color:#F60; font-size:1.2em;}
#reg_result .welc01 .mg{padding:30px 0;}
#reg_result .welc01 .mg img{width:150px; height:auto;}
#reg_result .gomain{padding:8px 22px !important; border-radius:100px;}
@media (max-width: 991px) {
    #reg_result.finish{padding-top:20px !important;}
    #reg_result .welc01{font-size:1.18em; margin-bottom:12px; }
    #reg_result .welc01 .mg{padding:15px 0;}
    #reg_result .welc01 .mg img{width:80px;}
    #reg_result .con{font-size:1em; line-height:1.6em; color:#999; padding:10px; border-radius:10px; background: #FFFBF7; border:1px solid #efe9e3;}
    #reg_result.finish .btn_confirm{margin:25px 0;}
    #reg_result .gomain{padding:8px 18px !important; font-size:0.86em !important; }
}


/* 아이디/비밀번호 찾기 */
#find_info{width:500px; margin:0 auto;padding:30px;}
#find_info.new_win .title{font-size:1.5em; font-weight:600;}
#find_info.new_win .win_btn{padding:15px 0;}
#find_info.new_win .win_btn .btn_submit {width:100%;height:55px;color:#fff; background:#215bab; border-radius:0 !important; padding:0 10px; display:block; text-align:center;
    border:0;border-bottom:0;box-shadow:none;font-size:1.3em; line-height:1.5em; margin-bottom:5px;}
#find_info.new_win .win_btn button{border-radius:0!important;}
#find_info #mb_hp_label {display:inline-block;margin-left:10px}
#find_info #info_fs {margin:20px 0px;padding:0; font-size:0.95em;}
#find_info #info_fs label{ display:none;}
#find_info #info_fs .frm_input {background:#f2f2f2; color:#b5b5b5; border-radius:0; border:0; line-height:45px; height:45px; width:100%; text-indent:20px;}
#find_info p {margin:0 0 10px;line-height:1.8em}
#find_info #captcha {/*margin:0 20px*/}
.mbskin button.btn01{width:100%;padding:10px 0;text-align:center; background:none;
    border:1px solid #ccc; color:#333; margin-bottom:3px; font-size:0.9em; letter-spacing:-1px; border-radius:10px;}
#find_info #captcha{width:100%;}
#find_info #captcha #captcha_key{width:calc(100% - 197px); border:0;}
.find_tip{}
.find_tip .svg-inline--fa{color:#f96d6d; font-size:1.2em;}
.find_tip button{border:none; background:none;}
@media (max-width: 991px) {
    #find_info{width:100%; margin:0 auto; padding:30px;}
}

/* 로그인 */

#mb_login form {
    text-align: center;
}
#mb_login .select, #join_info .select  {
    padding: 15px 10px; text-align: center;
}
#mb_login .select input[type=radio], #join_info .select input[type=radio]{
    display: none;
}
#mb_login .select input[type=radio]+label, #join_info .select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    line-height: 24px;
    text-align: center;
    font-size:1.5em;
}
#mb_login .select input[type=radio]+label, #join_info .select input[type=radio]+label {
    color: #ffffff6e; padding-bottom: 12px;
}
#mb_login .select input[type=radio]:checked+label, #join_info .select input[type=radio]:checked+label{
    color: #fff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 12px;
    font-weight:bold;
}
#mb_login img {width:120px;}
#mb_login {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:480px;background:#0074DB;border-radius:5px;overflow:hidden; font-size:1.1em;
    /* box-shadow:3px 3px 7px 1px #bbb;-moz-box-shadow:3px 3px 7px 1px #bbb;-webkit-box-shadow:3px 3px 7px 1px #bbb;*/}
#mb_login h1 {/*display:none;*/ margin:0 50px 20px;font-size:1.7em;text-align:center;padding:20px 0 0; letter-spacing:-1px;  font-weight:700;}
#mb_login #login_fs{padding:40px 50px 0px}
#mb_login #login_fs legend{border-bottom:0 !important; display:none}
#mb_login #login_fs .login_id,#mb_login #login_fs .login_pw {display:block;color:#333;margin-bottom:5px; display:none;}
#mb_login #login_fs .frm_input{width:100%;background-color:#fff !important; color:#252525; border:none; height:50px;line-height:50px;text-indent:10px;margin-bottom:5px;padding:0;background:#ffffff;}
#mb_login #login_fs .btn_submit {height:50px; background:none; border:1px solid #ffffff;width:100%;border-radius:0!important; /*border:1px solid #1C4658;border-bottom:3px solid #296984;*/; box-shadow:none !important; font-size:1.2em; font-weight:600;margin:25px 0px 0;}
#mb_login .register_form  {height:50px; background:#FF6161; color:white; width:100%;border-radius:0!important; /*border:1px solid #1C4658;border-bottom:3px solid #296984;*/; box-shadow:none !important; font-size:1.2em; font-weight:600;margin:5px 0 25px 0;display: block; line-height:50px}
#mb_login #login_info {/*background:#f5f9fa;*/padding:0px 50px 20px 50px;/*border-top:1px solid #d4e2e1;*/ text-align:center;color:#ffffff!important}
#mb_login #login_info p{line-height:1.5em;margin-bottom:20px;;text-align:left; display:none;}
#mb_login #login_info h2{display:none;}
#mb_login #login_info a{/*width:49%;padding:10px 0; font-weight:500; font-size:0.89em !important; color:#fff !important;text-align:center;border-radius:0 !important; border:1px solid #2c4e80 !important; background:#2c4e80 !important*/ letter-spacing:-.050em;}
#mb_login #login_info a.btn02{ /*background:#fff !important; border:1px solid #2c4e80 !important; color:#2c4e80 !important;*/}
#mb_login h2 {margin:0 0 5px;font-size:1.167em}
#mb_login .btn_confirm{width:100%;/*background:#f5f9fa;*/padding:0 50px 30px;margin:0; font-size:1em; border:0!important;}
#mb_login .btn_confirm a{text-decoration:none;color:#252525;display:inline-block; font-size:1em;}
input[type=checkbox], input[type=radio]{margin:0 2px 3px 0 !important;width: 2rem !important; height: 2rem !important;}
/*반응형소스*/
@media (max-width: 991px) {
    #mb_login{width:85%;}
    #mb_login h1{font-size:1.5em;}
    #mb_login #login_fs{padding:25px 25px 0px 25px !important}
    #mb_login #login_fs .btn_submit{ font-size:1em; height:50px;}
    #mb_login #login_info{padding:0px 25px !important}
    #mb_login #login_info a{}
    #mb_login #login_fs label{font-size:0.9em !important;}
    #mb_confirm{width:70%;}
    #mb_login .btn_confirm{padding:10px 0 20px 0;}
    #mb_login .btn_confirm a{font-size:0.9em;}
    #mb_confirm h1{font-size:1.5em;}
}


/* 회원가입 및 거의 모든 곳에 들어갈 박스 스타일 */
.box-article { width:100%; }
.box-article h2 {font-size: 1.50em;padding-bottom:10px;color:#fff;font-weight:500;}
.box-article span{font-size:14px; color:#777; line-height:1.4em; word-break:keep-all;}
.box-article .file span{display:inline-block; font-size:1em;}
.area_file{display:block; margin:0 auto; width:100%;}
.area_file .prev_area{margin:10px 0 0; width:100%; text-align:center;}
.area_file .prev_area img{display:block; max-width:50%; margin:0 auto;}
.area_file .prev_area .btn{margin:10px 0;}
.box-article em{display:block; padding:15px; box-sizing:border-box; background:#50585f; font-size:14px; color:#fff; line-height:1.4em; word-break:keep-all;}
.box-article h2 p{ display:inline-block;font-size:12px; color:#fff; float:right;}
.box-article .box-body {margin:10px 0 0;}
.box-article .box-body:first-child { /*margin-top:5px;*/ }
.box-article .box-title { font-size:1.25em; font-weight:bold; margin-bottom:10px; }
.box-article .box-body dd input{margin: 0; padding: 15px;}
.box-article .box-body dd input.required{ background:#fff !important;     box-sizing: border-box;    padding: 15px;}


.box-article .box-body dd input[type="radio"] { display: none; }
.box-article .box-body dd input[type="radio"] + label { font-weight: 400; font-size: 14px; }
.box-article .box-body dd input[type="radio"] + label span { display: inline-block; width: 18px; height: 18px; margin: -2px 10px 0 0; vertical-align: middle; cursor: pointer; -moz-border-radius: 50%; border-radius: 50%; border: 2px solid #ffffff; }
.box-article .box-body dd input[type="radio"] + label span { background-color: #fff; }
.box-article .box-body dd input[type="radio"]:checked + label { color: #333; font-weight: 700; }
.box-article .box-body dd input[type="radio"]:checked + label span { background-color: #FF6161; border: 2px solid #ffffff; box-shadow: 2px 2px 2px rgba(0,0,0,.1); }
.box-article .box-body dd input[type="radio"] + label span, input[type="radio"]:checked + label span { -webkit-transition: background-color 0.24s linear; -o-transition: background-color 0.24s linear; -moz-transition: background-color 0.24s linear; transition: background-color 0.24s linear; }
.radio_custom {   margin-right: 10px;  display: inline;}

.box-article .box-body .row {position:relative; padding: 5px 0;}
.box-article .box-body .row dd { padding:0;margin: 0; }
.box-article .box-body .row dd.req{padding:10px 0px 10px 10px;color:#12238d ;/* margin-top:5px; */}
.box-article .box-body .row .error {font-size: 0.7em;color:#858585;;color: red;}
.box-article .box-body .row .error.on{color:#ffffff ; font-size: 1.2em;}
.box-article .box-body .row.adrBox input{
    padding: 15px;
    margin: 4px 0;  ;
    box-sizing: border-box;
    border: none!important;
}
.box-article .box-body .row.adrBox button{}
.box-article .box-body .row dd.req{padding:10px 0px 10px 10px;color:#FF6161 ;/* margin-top:5px; */ position: absolute; right:15px;}
.box-article .box-body .row .error {font-size: 0.7em;color:#858585;;color: red;}
.box-article .box-body .row .error.on{}


input#reg_mb_addr1, input#reg_mb_addr2 {
    width: 100%;
}

.status_ico{position:absolute; right:0; bottom:-3px; display:block; margin:8px; width:24px; height:24px; text-align:center; font-size:12px;}
.status_ico.err i{color:#FF6161 ;}
.status_ico.pas i{color:#FF6161;}

#join_info label {color: white;}
#join_info {
    position:relative;
}
.resBox {width: 600px; margin:50px auto; padding:0 0 50px}

.logBoxT {
    text-align: center;
    margin-bottom: 30px;
}
.logBoxT .tit{
    font-size: 35px;
    font-weight: 600;
}
.logBoxT .stit{
    line-height: 30px;
    letter-spacing: -.8px;
    font-size: 15px;
}
#join_info{
    background: none;
    padding: 70px;
    border-radius: 5px 5px 0 0;
    padding-bottom: 20px;
}
#join_info h2{font-size: 1.50em;}
#join_info h2 p{font-size:13px;display:inline-block;float:right}
.regist-input {
    width: 100%;
    background: #FFF !important;
    border: none;
    color: #333;
    padding: 10px 5px 10px 0;
    font-size: 1.05em !important;
    font-weight:500;
}

/*동의*/
#join_agr{
    margin: 0;
    background: none;
    padding: 0 70px 50px;
    border-radius: 0 0 5px 5px;
}
#join_agr .box-body{    background: #ffffff;;padding-bottom: 30px; margin-bottom: 30px;}
#join_agr .btn-agr{font-size:12px;padding:5px 10px;background: #e1e1e1;color:#000;font-weight:600;margin-right: 9px; border-radius: 0;margin-top: 30px;    border: none;}
#join_agr .box-body .agree-row{    margin: 0;}
#join_agr .chk_ico{font-size:14px; font-weight:500;}
#join_agr .box-body .row dd{    padding: 9px; display: inline-block;      margin: 0;    padding: 0;}
#join_agr .box-body .row dd.col-xs-8{    width: 77%;    }
#join_agr .box-body .row dd.col-xs-4{     width: 19%;     }
#join_agr .box-body dl{    padding: 0;}
.chk_ico i{display:inline-block; vertical-align:middle; width:25px; height:25px; padding:0px; margin-right:5px; background:url('img/checker-off.svg') no-repeat left top/25px auto;}
.chk_ico i.chk{background-position:left bottom;}
.chk_ico i.nochk{background-position:left top;}


/* 체크박스 아이콘 */
.chk_ico{position:relative; margin:0; margin-top:3px;}
.chk_ico input[type="checkbox"] + label{margin:0;font-size: 14px; left:0;font-weight: 400;height:23px;padding: 0px 0 0 30px;background: url('img/checker-off.svg') no-repeat 6px center;background-size: 17px;color: #333;cursor: pointer;}
.chk_ico input[type="checkbox"]{ visibility:hidden;}

.radio_ico input[type="radio"] + label{margin:0;font-size: 14px; left:0;font-weight: 400;height:23px;padding: 0px 0 0 30px;background: url('img/checker-off.svg') no-repeat 6px center;background-size: 17px;color: #333;cursor: pointer;}
.radio_ico input[type="radio"]{ visibility:hidden;}
.radio_ico input[type="radio"]:checked + label {background-position:left bottom;background: url('img/checker-on.svg') no-repeat 6px center;background-size: 17px;}


.box-article .box-body .agree-row .agr_textarea textarea{ height:150px !important; font-size:13px; padding:10px 10px;}

/*회원가입 완료*/
#reg_result h2 strong{ font-size:1.5em;}
#reg_result p{ font-size:15px;}
#reg_result .fir{font-size: 25px;letter-spacing: -1px;margin-bottom: 20px;color: #000;}
#reg_result .fir strong{color: #c25aff;}
#reg_result .mid{
    background: #f0f0f0;
    padding: 40px 40px 50px;
    width: 70%;
    margin: 0 auto;
    border-radius: 130px;
}
#reg_result {text-align:center}
#reg_result .btn_confirm2 a{ font-size:1.2em; width:calc(50% - 10px); margin:0 5px;}

#join_agr input#btn_submit {
    width: 100%;
    margin: 5px 0;
}
#join_agr a.newBtn {
    width: 100%;
    max-width: 460px;
    box-sizing: border-box;    height: 50px;
    line-height: 20pt;
    padding: 10px 0;
    margin-left: 0;
}

#join_info select {
    width: 100%;
    padding: 15px;
    border: none;
}

@media (max-width: 600px){
    .resBox {width: 100%; margin:20px auto; padding:0 0 20px}
    #join_info{ padding:40px;}
    #join_agr{ margin: 0;; padding: 0 40px 50px; border-radius: 0 0 5px 5px; }
    .mbskin{margin:0;}
    .area_join{padding:30px 20px; width:96%}
    .sns_join > p br{display:none;}
    .sns_join > p{font-size:13px;}
    .sns_join > h3{font-size:18px;}
    .area_join a.join{padding:16px 10px;}
}

@media all and (max-width:450px){
    #mb_login{width:90%; border:none; border-radius:0; box-shadow:none; -webkit-box-shadow:none; }
    #mb_login h1{font-size:1.5em; margin:auto 30px;}
    #mb_login #login_fs,
    #mb_login #login_info{padding:20px 30px;}
    #mb_confirm{width:100%; border:none; border-radius:0; box-shadow:none; -webkit-box-shadow:none; }
    .regist-input {font-size:15px}

}
.addr_sch{/*position:absolute;*/ display:inline-block; border:0; color:#fff; right:0; top:0px; height:30px; border-radius:0px; font-size:12px;padding:5px 10px;background:none; color:#fff; font-weight:600;margin-right: 9px;border:1px solid #ffffff}

a.newBtn,button.newBtn,input.newBtn{display: inline-block;padding: 7px 25px;font-size: 14px;color:#fff !important;border-radius: 0px; margin:0 2px; vertical-align: top;}
a.newBtn.bgT,button.newBtn.bgT,input.newBtn.bgT{ background:#FF6161; color:#fff;	padding: 15px 40px; border-radius: 0px; border:1px solid #FF6161}
.newBtn{ background:#9F9F9F; color:#000!important;	padding: 15px 40px; border-radius: 0px; }

#fregisterform textarea {height:50px;width: 92.2%;;border: 1px solid #ddd; font-size:1.0em; opacity:.75; }
#fregisterform #msg_certify {margin:5px 0 0;padding:5px;border:1px solid #ffffff;text-align:center}
#fregisterform .frm_address {margin:5px 0 0}
#fregisterform #mb_addr3 {display:inline-block;margin:5px 0 0;vertical-align:middle}
#fregisterform #mb_addr_jibeon {display:block;margin:5px 0 0}

dd.col-xs-12.agr_textarea {
    width: 100%!important;
    box-sizing: border-box;
    /* max-width: 460px; */
}

/* 쪽지 */
#memo_view_contents {margin:0 auto 20px;width:90%}
#memo_view_contents h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#memo_view_ul {margin:0;padding:0 0 10px;border-bottom:1px solid #eee;list-style:none}
.memo_view_li {position:relative;padding:5px 0}
.memo_view_subj {display:inline-block;width:65px}
#memo_view p {padding:10px 0;min-height:150px;height:auto !important;height:150px;background:#fff;line-height:1.8em}

#memo_write textarea {height:100px}

/* 스크랩 */
#scrap_do table {margin:0 0 10px;width:100%}
#scrap_do textarea {height:100px}

/* 회원 비밀번호 확인 */
#mb_confirm {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:550px;background:rgba(255,255,255,0.6);border-radius:20px;overflow:hidden; font-size:1.1em;
    box-shadow:3px 3px 7px 1px #bbb;-moz-box-shadow:3px 3px 7px 1px #bbb;-webkit-box-shadow:3px 3px 7px 1px #bbb;}
#mb_confirm h1 {margin:0px;font-size:2.0em;text-align:center;padding:30px 0 20px;letter-spacing:-1px;  font-weight:700;}
#mb_confirm p {padding:20px;border-bottom:0;text-align:center;}
#mb_confirm p strong {display:block}
#mb_confirm fieldset {margin:0;padding:30px 0;background:#F5F9FA;text-align:center}
#mb_confirm fieldset .frm_input {background-color:#fff !important}
#mb_confirm label {letter-spacing:-0.1em}
#mb_confirm_id {display:inline-block;margin-right:20px;font-weight:bold}

#mb_confirm .btn_confirm{width:100%;background:#f5f9fa;padding:30px 0;margin:0; font-size:1em;}
#mb_confirm .btn_confirm a{text-decoration:none;color:#3c95d5;padding-right:10px;display:inline-block}
@media (max-width: 991px) {
    #mb_confirm {width:300px;background:rgba(255,255,255,0.6);border-radius:10px;font-size:0.95em;}
    #mb_confirm h1 {font-size:1em;padding:10px 0 8px;letter-spacing:-1px;}
    .mbskin fieldset .btn_submit{/*margin-top:10px;*/}
    #mb_confirm fieldset{padding:20px 0;}
    #mb_confirm .btn_confirm{padding:5px 0 10px 0;}
    .required, textarea.required{width:100%;}
    #mb_confirm fieldset .frm_input {background-color:#fff !important; width:30%;}

}



/* 비밀글 비밀번호 확인 */
#pw_confirm {margin:0 auto;padding:100px 0;width:500px}
#pw_confirm h1 {margin:0 0 20px;font-size:1.3em}
#pw_confirm p {padding:20px;border:1px solid #dde4e9;border-bottom:0;background:#fff}
#pw_confirm p strong {display:block}
#pw_confirm fieldset {margin:0 0 30px;padding:30px 0;border:1px solid #e9e9e9;background:#f5f6fa;text-align:center}
#pw_confirm fieldset .frm_input {background-color:#fff !important}
#pw_confirm label {letter-spacing:-0.1em}
#pw_confirm_id {display:inline-block;margin-right:20px;font-weight:bold}

/* 폼메일 */
#formmail #subject {width:386px}
#formmail textarea {height:100px}

/* 자기소개 */
#profile table {margin-bottom:0}
#profile section {margin:0 auto 20px;padding:20px;width:86%}
#profile h2 {margin:0}




.app {
    width: 80%;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 35px;
    font-weight: 700;
    color: #0074db!important;
    border: none;
    border-radius: 50px;
}

.app img {
    width: 19px!important;
    margin-left: 10px;
}


/*=========================================추가된 css====================================================*/



/*회원가입부분 추가css*/
.tbl_wrap caption{color:#000; font-weight:400 !important;}
#captcha legend{border:0 !important;}
.select-box{height:auto;}

/*체크박스 디자인*/
.chk_ico{position:relative; margin:0; margin-top:3px;}
.chk_ico input[type="checkbox"] + label{font-size:1em; font-weight:400;margin:0; position:absolute; left:10px; height:21px; padding:0 0 0 30px; background:url('img/c_chkbox.gif') no-repeat; background-position:0 0;color: black}
.chk_ico input[type="checkbox"]{ visibility:hidden;}
.chk_ico input[type="checkbox"]:checked + label {background-position:0 -27px;}

@media (max-width: 600px) {
    .chk_ico input[type="checkbox"] + label{font-size:.85em; word-break:keep-all}
}