@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

html,body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: -0.7px;

}

section {margin-bottom: 50px;}
#second {margin-top: 250px;}
.wrap {
    width: 100%;
    text-align: center;
}

.wrap1 {
    background: #F2F2F2;
    min-height: 410px;
    background-image: url(https://dreamforone.co.kr:443/~fitset/theme/basic/img/bg_test.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}
.wrap4 {
    background: #F2F2F2;

    position: relative;
}

.container {
    width: 100%;
    max-width: 1200px!important;
    margin: 0 auto;

}

.title {
    font-family: 'PyeongChangPeace-Bold';
}

.wrap #gnb  {
    position: relative!important;
    top: 0px!important;
    right: 0px!important;
}

#gnb ul {
    list-style: none;
    display: flex;
    font-size: 0.9em;
    float: right;
    position:relative;
    z-index:999
}


#gnb ul a { text-decoration: none; color: white}


#gnb ul li {
    padding: 10px 11px;
}
#gnb ul li::after {
    content: " ";
    float: right;
    color: #ccc;
    border-right: 1px solid #ccc;
    margin-right: -14px;
    width: 5px;
    height: 7px;
    margin-top: 8px;
}


#gnb ul li:last-child::after {
    content: " ";
    border: 0;
}


#hd {padding-top:90px;padding-bottom: 50px; color:white;    min-width: 0;}
#hd h1 {
    font-size: 2.3rem;
}
#hd span.title {
    font-size: 2.5rem;
}

#hd_cont {border-radius: 250px; min-height: 350px; box-shadow: 0 0 5px 5px #adadad10;    position: absolute;
    left: 50%;
    /* right: 50%; */
    transform: translateX( -50% );
    margin: 0 auto;
    background: #fff;
    text-align: center;
    top:200px
}

#hd_cont div {padding:30px;word-break: keep-all;}
#hd_cont .row {    max-width: 900px;    margin: 0 auto; }
#hd_cont img {margin-top: 30px;margin-bottom: 10px;}
.semi_title  {font-weight: 700; color:white; font-size: 1.2em; }
.semi_title span {padding:1px 3px; background:#FF6161;}
.semi_text {line-height: 2em}
.semi_text span {font-size: 0.75em}

@media all and (max-width: 768px){
    p.semi_text {
        line-height: 2em!important;

    }
    p.semi_title {
        font-size: 1em!important;
    }
    p.semi_text {
        font-size: 0.75em!important;
        letter-spacing: -1px;
    }
    #hd_cont img {
        /*  width: 60%;*/
        max-width: 65px;
    }

    #hd_cont {
        border-radius: 10px!important;
    }
    #hd_cont div {
        padding: 15px 0px!important;

    }

    #second {margin-top: 200px;}

    #third table{font-size: 0.9em;}
}



button.registe  {color: #0074DB;padding:5px 20px; background:#ffffff; border: 3px solid #0074DB; text-decoration: none; font-size: 1.2em; border-radius: 0;margin: 10px 0 20px;}
button.registe:hover {color:white;background:#0074DB; }


#third   {    padding-bottom: 50px;}
#third table  {border-top: 1px solid #0074DB; }
#third table tr {border-bottom: 1px solid #B5B5B5; }
#third table th {background: #F2F2F2;color: #0074db;    font-size: 0.9em;    border-bottom: 1px solid #0074DB; }
#third table th, #third table td {    padding: 15px 0;}
#third td:not(:last-child) {    border-right: 1px solid #f2f2f2;}
#third tr td:first-child {        color: #a7a7a7;}

a.table_list {    padding: 3px 18px;    text-decoration: none;    color: #ff5454;     border-radius: 50px;   border: 2px solid #ff6161;}
a.table_list:hover {   background: #ff5454; color: white;font-weight: 700;   transition: 0.15s;}

a.table_map {    font-weight: 700;    color: #009d5c;    padding: 3px 18px;      border-radius: 50px;  text-decoration: none;    border: 2px solid #009d5c;}
a.table_map:hover {    background: #009d5c;  color: white;font-weight: 700;  transition: 0.15s; }

a.table_graph {    color: #493bbd;    padding: 3px 18px;    text-decoration: none;     border-radius: 50px;   border: 2px solid #493bbd;}
a.table_graph:hover {    background: #493bbd;  color: white;font-weight: 700; transition: 0.15s; }

a.table_view {    color: #f39200;    padding: 3px 18px;    text-decoration: none;     border-radius: 50px;   border: 2px solid #f39200;}
a.table_view:hover {    background: #f39200;   color: white;font-weight: 700;  transition: 0.15s;}

a.table_delete {       background: #f1f1f1;    color: #9f9f9f;    padding: 3px 18px;       border-radius: 50px; text-decoration: none;    border: 2px solid #f1f1f1;}
a.table_delete:hover {    color: #d9d9d9;   background: #ffffff; font-weight: 700;  transition: 0.15s;}

.approval_y {padding:2px 4px; background:#0074DB;  text-decoration: none; color: white;     border-radius: 50px;; border:none; border:2px solid #fff;
    box-shadow: 0 0 3px 2px #6a6a6a40;}
.approval_n {padding:2px 4px; background:#FF6161;  text-decoration: none; color: white;     border-radius: 50px;; border:none;   border:2px solid #fff;  box-shadow: 0 0 3px 2px #6a6a6a40;}
.approval_n:hover {color:#dd3b3b; background: #ffffff; border:2px solid #dd3b3b ; transition: 0.15s;}
.approval_y:hover {color:#1061a9; background: #ffffff; border:2px solid #1061a9;transition: 0.15s; }

.modal-header {display: block!important;border: none!important;margin-top: 20px;}
.modal-body .row {
    margin: 15px 0;
}
.modal-body input {    padding: 10px;}


.modal-body button.submit {
    width: 100%;
    padding: 12px 10px;
    background: #ff6161;
    color: white;
    font-weight: 700;
    margin: 20px 0;
    border: none;
}

#memberModal .modal-content {    border-radius: 0px;}
#memberModal .modal-header {    margin-top: 0;    background: #ececec;}
#memberModal #myModalLabel {    text-align: center;    font-size: 1.2em;    font-weight: 600;    color: #b9b9b9;}
#memberModal .modal-body {    line-height: 3em;    text-align: center;    padding: 25px}
#memberModal .modal-body div:not(:last-child) {	    border-bottom: 1px solid #ececec;}
#memberModal .modal-footer {    display: block;    text-align: center;    border: 0px;}
#memberModal button.btn.btn-default {    background: #ececec;    border-radius: 0px;}

input#password {
    width: 100%; padding: 18px;
    border: none;
    background: #f2f2f2;
}

.locationPass .btn-primary { background: #0074DB; border-radius: 0px;}
.locationPass .btn-secondary {  border-radius: 0px;}
.locationPass .modal-footer {border-top:none;     display: block;}

#ft {
    min-width: 0;
    width: 100%;
}

#ft_copy p {

}