@charset "utf-8";
.swal-button:not([disabled]):hover,
.swal-button{ background-color:#e2364b !important; color:#fff !important; width:100%;}
.swal-button-container{margin:0; display:flex;}

/*테이블*/
.to_table{border-top:2px solid #353535; background:#ffffff; margin:10px 0 10px 0;}
.to_table caption{display:none;}
.to_table thead tr th{font-weight:bold; border:1px solid #e0e0e0; background:#ededed; text-align:center; padding:12px; font-size:15px;}
.to_table td{border:1px solid #e0e0e0; padding:12px; color:#666; text-align:center; border-collapse:collapse; font-size:14px;}
.to_table tr.color td{ background: #f5fafb;}
.to_table td.end{color:#3270bd;}
.to_table td.end2{color:#25a99e;}
@media (max-width: 991px) {
    .to_table thead tr th{padding:3px; font-size:12px;}
    .to_table td{padding:3px; font-size:11px;}
}
/*clearfix*/
.cf{}/* 여기서 cf는 float속성을 가진 태그의 부모태그라고 생각한다.*/
.cf:after{display:block; content:""; clear: both;}


/* 준비중페이지 */
#ready{text-align:center; background:url(../img/common/ready.png) no-repeat 50% 0; margin:80px 0;
    padding-top:130px; font-size:1.5em; line-height:1.3em; color:#333;}
#ready strong{font-weight:600; color:#23B1BD;}
#ready p{font-size:0.8em; color:#666;}

.basic_modal .modal-content{width:80%;max-width:500px;
    margin: 0 auto;
    overflow: visible;
    top:50%;
    padding: 0;
    transform: translate(0, -50%);
    padding: 0;
}
.basic_modal .modal-content h4{
    text-align: center;
    margin-top: 0;
    font-size: 1.2em;
    color: #000;
    background: #242424;
    color: #FFF;
    line-height: 60px;
    border-radius: 5px 5px 0 0;
}
.basic_modal .modal-content .close{    float: inherit;
    float: inherit;
    position: absolute;
    top: -45px;
    right: 0;
    color: #FFF;
    opacity: 1;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
}
.basic_modal .modal-content .modal-body{max-height: 65vh;overflow-y: auto;padding: 20px;border-radius: 0 0 5px 5px;}
.basic_modal .modal-footer{text-align:center}
.basic_modal .modal-footer .newBtn{ line-height: 3.2;font-size: 1.15em;font-weight: 600;}
.basic_dl dl{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center; -ms-flex-align: center; align-items: center;margin-bottom:10px;line-height:60px}
.basic_dl dt{font-size:15px; font-weight:500; color:#222;width:90px}
.basic_dl dd{flex:1}
.basic_dl dd input{border:1px solid #DDD;padding:5px;width:100%}
.newBtn{
    all: unset;
    display: inline-block;
    min-width: 220px;
    line-height:45px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    background: #3f84e7;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor:pointer;
    border:0;
    color:#FFF !important
}
.newBtn.s_newBtn{
    min-width: inherit;
    padding:0 10px;
    line-height:35px;
    font-size: 14px;
}