@charset "utf-8";
/* SIR 지운아빠 */

/* 초기화 */
html {overflow-y:scroll;overflow-x:hidden}
body {margin:0;padding:0;font-size:13px; letter-spacing:-0.25px; font-family:'GongGothic',Nanum Gothic,  sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'GongGothic',Nanum Gothic,  sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ol, ul, li, dd, dl, dt{list-style:none; padding:0; margin:0;}
.cf:after{display:block; content:""; clear: both;}
.hide{display:none;}

#hd ul, nav ul, #ft ul {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden; border:0;}
label, input, button, select, img {vertical-align:middle;}
input, button {margin:0;padding:0;font-size:1em}
button {cursor:pointer}

textarea, select {font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:#565656;text-decoration:none}
a:hover, a:focus, a:active {color:#000;text-decoration:none;}

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;width:970px;height:0}
@media screen and (max-width:767px) {
    #hd_pop {z-index:1000;position:relative;margin:0 auto;width:100% !important;height:0}
    #hd_pop img{ max-width:100%}
}

#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;/*border:1px solid #e9e9e9*/;background:#fff; box-shadow:0 0 3px #333}
@media screen and (max-width:767px) {
    .hd_pops { width:100% !important; position:absolute; top:0px !important; left:0 !important}
    .hd_pops img{ width:100% !important; height:100% !important}
}

.hd_pops_con{}
@media screen and (max-width:767px) {
    .hd_pops_con {width: 100% !important;height: 100% !important;}
}

.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
@media screen and (max-width:767px) {
    .hd_pops_footer { width:100% !important}
}

.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff;font-size: 0.90em;}


/* 전체 검색 */
#hd_sch {float:left;margin:0 0 0 20px;padding:0;border:1px solid #c3c6ca}
#hd_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#hd_sch #sch_stx {padding-left:5px;width:110px;height:24px;border:0;background:#fff;line-height:1.9em !important;line-height:1.6em}
#hd_sch #sch_submit {padding:0 5px;height:26px;border:0;background:#e2e6eb;color:#333;cursor:pointer}

/* 텍스트 크기 조절 */
#text_size {float:left;margin:0 0 0 10px;letter-spacing:-3px}
#text_size button {margin:0;padding:1px 2px;border:1px solid #c3c6ca;background:transparent;vertical-align:middle;cursor:pointer}
.ts_up {font-size:1.167em !important}
.ts_up2 {font-size:1.3em !important}


/* 상단 레이아웃 */
#hd { width:100%; min-width:1100px; z-index:10;}
.hd_zindex { z-index:999 !important}
#hd_h1 { position:absolute;font-size:0;line-height:0;overflow:hidden}
#hd.sub{ background:linear-gradient(to right, #3f84e7, #3fcde7);}

/* 상단 메뉴*/
#hd_wrapper {position:relative;margin:0 auto; width:1100px; zoom:1;}
#hd_wrapper:after {display:block;visibility:hidden;clear:both;content:""}
#hd_wrapper.container{padding-left:0; padding-right:0;}

#logo {padding:75px 0; text-align:center;}

/* 메인메뉴 */
#gnb{ color:#fff;}
#gnb a{ color:#fff;}
#gnb h2 { display:none;}
#gnb_1dul {margin:0 auto !important;padding:0;width:100%;zoom:1;}
#gnb_1dul:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_1dli {z-index:10;position:relative;float:left}
.gnb_1da {display:inline-block; padding:45px 40px 40px 40px; font-size:1.6em; color:#333 !important; letter-spacing:-1px; line-height:1em; font-weight:500; text-decoration:none; position:relative; z-index:5;}
.gnb_1da span{ display:block; width:0px; height:3px; position:absolute; left:50%; top:0px; background:#1f3c88; transform:translateX(-50%); transition:all 0s;}
.gnb_1dli:focus, .gnb_1dli:hover span{ width:100%; transition:all 0.5s;}
.gnb_1dli:focus, .gnb_1dli:hover { color:#111;}
.gnb_1dli{ position:relative;}
.gnb_2dul {display:none; position:absolute; top:100px; left:0px; width:100%; background:#fff; border:1px solid #ddd; border-top:0; padding:0px 0 !important;}
/*#gnb #gnb_1dul .gnb_1dli:nth-child(3) .gnb_2dul{ width:170px; left:15px;}
#gnb #gnb_1dul .gnb_1dli:nth-child(4) .gnb_2dul{ width:160px;left:-20px}
#gnb #gnb_1dul .gnb_1dli:nth-child(5) .gnb_2dul{ width:160px;left:-25px}*/
.gnb_2dli{ padding:0 0 0 0px; border-bottom:1px dotted #ccc;}
.gnb_2dul .gnb_2dli:last-child{ border-bottom:none;}
.gnb_2da {display:block;padding:10px 10px;text-align:center;text-decoration:none; font-size:1.2em; color:#777 !important;}
/* 1차메뉴 hover했을때 2차메뉴 안나오게 하기위해 주석처림 함*/

/*1차메뉴hover*/
#gnb .gnb_1dli:focus .gnb_1da,
#gnb .gnb_1dli:hover .gnb_1da,
#gnb .gnb_1dli.hov .gnb_1da{ text-decoration:none; color:#222 !important;}
/*2차메뉴hover*/
#gnb .gnb_2da:focus, #gnb .gnb_2da:hover{ font-weight:500 !important; color:#333 !important; background:#f7f7f7;}

#gnb_empty {padding:10px 0;width:100%;text-align:center;line-height:2em}
#gnb_empty a {text-decoration:underline}

/* 중간 레이아웃 */
#wrapper {z-index:5;margin:0 auto;width:100%; min-height:100vh; zoom:1; background:#F7F7F7;}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}
#aside {float:left; margin:0; width:350px; height:100vh; border-right:1px solid #e0e6ef;background:#fff; border-radius:0 80px 0 0; padding:0px 35px; z-index:1;
    position:fixed; left:0; top:0; box-shadow:3px 7px 7px rgba(0,0,0,0.2);}
#aside #logo{margin:0 auto;}
#container {width:1100px; min-height:100vh; padding:60px; margin:0px 0 0 350px; height:auto!important;background:#fff;font-size:1em; zoom:1; position:relative; z-index:0;}
#container:after {display:block;visibility:hidden;clear:both;content:""}
/*서브-타이틀부분*/
.container_title { font-size:2.8em; color:#333; line-height:1em; letter-spacing:-1.5px; font-weight:400; margin-bottom:20px;}

/*푸터-카피라이터*/
#footer{ width:100%; min-width:1100px; height:auto; background:#fff; text-align:center;}
#footer address h1{ font-weight:800; margin-bottom:5px; color:#3f84e7;}
#footer address strong{font-weight:600;}

/*브라우저 상하단이동버튼*/
#gobtn{position:fixed; display:block; right:30px; bottom:50px; display:none; z-index:9999;}
.goHd, .goFt{width:40px; height:40px; background:rgba(255, 255, 255, 0.6); z-index:9999; text-indent:-9999px; border:1px solid #858585; position:relative;
    transition:all 0.5s; box-shadow:0px 0px 3px RGBA(0, 0, 0, 0.3); border-radius:5px; display:block; margin-bottom:3px;}
.goHd span{position:absolute; top:60%; left:12px; display:block; width:15px; height:15px; border-left:2px solid #666; border-top:2px solid #666; border-radius:2px;
    transform:translateY(-50%) rotate(45deg);}
.goFt span{position:absolute; top:40%; left:12px; display:block; width:15px; height:15px; border-left:2px solid #666; border-top:2px solid #666; border-radius:2px;
    transform:translateY(-50%) rotate(-135deg);}
.goHd:hover, .goFt:hover{background:#333; border:1px solid #333}
.goHd:hover span, .goFt:hover span{border-left:2px solid #FFF; border-top:2px solid #FFF;}


/* 게시물 선택복사 선택이동 */
#copymove {}
.copymove_current {float:right;color:#ff3061}
.copymove_currentbg {background:#f4f4f4}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* ie6 이미지 너비 지정 */
.img_fix {width:100%;height:auto}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}


/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #283646;background:#111;color:#fff !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {}
.pg_page, .pg_current {display:inline-block;padding:0 8px;height:25px;color:#000;letter-spacing:0;line-height:2.2em;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {background:#e4eaec;text-decoration:none}
.pg_start, .pg_prev {/* 이전 */}
.pg_end, .pg_next {/* 다음 */}
.pg_current {display:inline-block;margin:0 4px 0 0;background:#333;color:#fff;font-weight:normal}

/* Mobile화면으로 */
#device_change {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}

/*메일인증*/
.rg_em{margin-top:5px}
.rg_em caption{padding:0;font-size:0;line-height:0;overflow:hidden}

/*캡챠 모바일에서 피시버젼*/
#captcha.m_captcha audio{display:block;margin:5px 0 10px;}
#captcha.m_captcha #captcha_key{margin-left:3px }
#captcha.m_captcha #captcha_reload span{background:none;display:inline}
#captcha.m_captcha  #captcha_reload {position:relative ;width:auto;top:0;left:0;margin:0;padding:0 10px;height:43px;border:0;background:#e4eaec;vertical-align:middle;overflow:hidden;cursor:pointer}

@media screen and (max-width:767px) {
    #hd{min-width:100%;}
    #hd_wrapper{width:100%;}
    #logo{padding:10px auto;}
    #logo img{ height:30px;}
    #aside{display:none;}
    #container{width:100%; margin:0;}
    #footer{min-width:100%; font-size:0.9em;}
    #footer .co{margin-top:5px;}
    #footer span{display:block;}
}