@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'GongGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-style: normal;
    font-weight:400;
    font-weight:normal;
}
@font-face {
    font-family: 'GongGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-style: normal;
    font-weight:600;
    font-weight:bold;
}
@font-face {
    font-family: 'GongGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-style: normal;
    font-weight:900;
}