@charset "utf-8";
/* SIR 지운아빠 */

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 버튼 */
.mbskin{font-size:1.1em;}
.mbskin a.btn01 {}
.mbskin a.btn01:focus, .mbskin .btn01:hover {}
.mbskin a.btn02 {}
.mbskin a.btn02:focus, .mbskin .btn02:hover {}
.mbskin .btn_confirm {} /* 서식단계 진행 */
.mbskin .btn_submit {background:#4084e7;color:#fff; width:100%; height:60px; border-radius:10px !important; text-align:center;
    border:0;border-bottom:0;box-shadow:none;font-size:1.2em;font-weight:600;margin-bottom:10px; padding:0px 20px;}
.mbskin button.btn_submit {}
.mbskin fieldset .btn_submit {}
.mbskin .btn_cancel {}
.mbskin button.btn_cancel {}
.mbskin .btn_cancel:focus, .mbskin .btn_cancel:hover {}
.mbskin a.btn_frmline, .mbskin button.btn_frmline {} /* 우편번호검색버튼 등 */
.mbskin button.btn_frmline {}
.mbskin .win_btn {} /* 새창용 */
.mbskin .win_btn button {}
.mbskin .win_btn input {}
.mbskin .win_btn a {}
.mbskin .win_btn a:focus, .mbskin .win_btn a:hover {}
/* 게시판용 버튼 */
.mbskin a.btn_b01 {}
.mbskin a.btn_b01:focus, .mbskin .btn_b01:hover {}
.mbskin a.btn_b02 {}
.mbskin a.btn_b02:focus, .mbskin .btn_b02:hover {}
.mbskin a.btn_admin {} /* 관리자 전용 버튼 */
.mbskin a.btn_admin:focus, .mbskin a.btn_admin:hover {}

/* 기본테이블 */
.mbskin .tbl_head01 {}
.mbskin .tbl_head01 caption {}
.mbskin .tbl_head01 thead th {}
.mbskin .tbl_head01 thead a {}
.mbskin .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.mbskin .tbl_head01 tfoot th {}
.mbskin .tbl_head01 tfoot td {}
.mbskin .tbl_head01 tbody th {}
.mbskin .tbl_head01 td {}
.mbskin .tbl_head01 a {}
.mbskin td.empty_table {}

/* 폼 테이블 */
.mbskin table {}
.mbskin caption {}
.mbskin .frm_info {}
.mbskin .frm_file {}

.mbskin .tbl_frm01 {}
.mbskin .tbl_frm01 th {width:85px; display:none;}
.mbskin .tbl_frm01 td {}
.mbskin .tbl_frm01 textarea, .mb_skin tbl_frm01 .frm_input {}
.mbskin .tbl_frm01 textarea {}
/*
.mbskin .tbl_frm01 #captcha {}
.mbskin .tbl_frm01 #captcha input {}
*/
.mbskin .tbl_frm01 a {}

/* 필수입력 */
.mbskin .required, .mbskin textarea.required {}

/* 테이블 항목별 정의 */
.mbskin .td_board {}
.mbskin .td_chk {}
.mbskin .td_date {}
.mbskin .td_datetime {}
.mbskin .td_group {}
.mbskin .td_mb_id {}
.mbskin .td_mng {}
.mbskin .td_name {}
.mbskin .td_nick {}
.mbskin .td_num {}
.mbskin .td_numbig {}

.mbskin .txt_active {}
.mbskin .txt_expired {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 회원가입 약관 */
#fregister section {margin:0 0 20px;padding:20px 0}
#fregister h2 {margin:0 0 20px;text-align:center}
#fregister textarea {display:block;margin-bottom:10px;padding:5px;width:98%;height:150px;border:1px solid #e9e9e9;background:#f7f7f7}
#fregister .fregister_agree {padding:10px 0 0;text-align:right}
#fregister .fregister_agree label {display:inline-block;margin-right:5px}
#fregister p {color:#e8180c;text-align:center}
#fregister .btn_confirm {margin-bottom:20px}
#fregister_private .tbl_head01 th{;text-align:center;border:1px solid #d1dee2;width:33%}
#fregister_private .tbl_head01 td {border:1px solid #e9e9e9}
#fregister_private .tbl_head01 caption{position:absolute;font-size:0;line-height:0;overflow:hidden}

/* 회원가입 입력 */
#fregisterform{margin-bottom:50px;}
#fregisterform textarea {height:50px}

#fregisterform #msg_certify {margin:5px 0 0;padding:5px;border:1px solid #dbecff;background:#eaf4ff;text-align:center}

#fregisterform .frm_address {margin:5px 0 0}
#fregisterform #mb_addr3 {display:inline-block;margin:5px 0 0;vertical-align:middle}
#fregisterform #mb_addr_jibeon {display:block;margin:5px 0 0}

/* 회원가입 완료 */
#reg_result {padding:50px 20px}
#reg_result h2{ font-size:1.3em; line-height:1.6em; margin-bottom:10px;}
#reg_result h2 strong{text-decoration:underline;}
#reg_result #result_email {margin:20px 0;padding:10px 50px;border-top:1px solid #e9e9e9;border-bottom:1px solid #dde4e9;background:#fff;line-height:2em}
#reg_result #result_email span {display:inline-block;width:150px}
#reg_result #result_email strong {color:#e8180c;font-size:1.2em}
#reg_result p {line-height:1.8em}
#reg_result .btn_confirm {margin:50px 0}

/* 아이디/비밀번호 찾기 */
#find_info{padding:30px;}
#find_info h1{font-size:1.5em; margin-bottom:12px; font-weight:600; border-bottom:1px solid #ccc; padding-bottom:10px;}
#find_info .nav-tabs{ margin-bottom:20px;}
#find_info #mb_hp_label {display:inline-block;margin-left:10px}
#find_info #info_fs {margin:0px;padding:0; font-size:0.95em;}
#find_info #info_fs label{ display:none;}
#find_info #info_fs .frm_input {width:100%}
#find_info p {margin:0 0 10px;line-height:1.8em}
#find_info #captcha {margin:0 20px}
.mbskin button.btn01{width:100%;padding:10px 0;text-align:center;border-radius:10px; background:none;
    border:1px solid #ccc; color:#333; margin-bottom:3px; font-size:0.9em; letter-spacing:-1px;}

/* 로그인 */
#mb_login {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:350px;background:#fff;border-radius:20px;overflow:hidden; font-size:1.1em;
    box-shadow:0px 3px 10px rgba(0,0,0,0.5);-moz-box-shadow:0px 3px 10px rgba(0,0,0,0.5);-webkit-box-shadow:0px 3px 10px rgba(0,0,0,0.5); padding:65px 30px}
#mb_login h1 {margin:0 0 65px 0;font-size:2.0em;text-align:center;padding:0; letter-spacing:-1px;  font-weight:700;}
#mb_login #login_fs{}
#mb_login #login_fs .login_id,#mb_login #login_fs .login_pw {display:block;color:#333;margin-bottom:5px; font-weight:600;}
#mb_login #login_fs .frm_input{width:100%;background-color:#f8f9fd !important;border:1px solid #dee7f0;height:50px;line-height:50px;text-indent:10px;margin-bottom:15px;padding:0;
    box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); border-radius:10px;}
#mb_login #login_fs .btn_submit {display:block; text-align:center; height:65px; line-height:65px; background:#4084e7;width:100%; border:0;
    border-radius:10px!important;font-size:1.3em;font-weight:bold;margin:5px 0}
#mb_login #login_fs .btn_submit:hover{border:0 !important;}
#mb_login #login_fs a.btn_submit{ background:#e2364c;}
#mb_login #login_info {background:#f5f9fa;padding:20px 50px 0;border-top:1px solid #d4e2e1;text-align:center;}
#mb_login #login_info p{line-height:1.5em;margin-bottom:20px;color:#777;text-align:left;}
#mb_login #login_info a{width:48%;padding:10px 0;text-align:center;border-radius:4px;}
#mb_login h2 {margin:0 0 5px;font-size:1.167em}
#mb_login .btn_confirm{width:100%;background:#f5f9fa;padding:30px 0;margin:0; font-size:1em;}
#mb_login .btn_confirm a{text-decoration:none;color:#3c95d5;padding-right:10px;display:inline-block}
.id_save{float:right;}
.id_save label{margin:0;}
.id_save input{margin:0; vertical-align:middle;}


/* 쪽지 */
#memo_view_contents {margin:0 auto 20px;width:90%}
#memo_view_contents h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#memo_view_ul {margin:0;padding:0 0 10px;border-bottom:1px solid #eee;list-style:none}
.memo_view_li {position:relative;padding:5px 0}
.memo_view_subj {display:inline-block;width:65px}
#memo_view p {padding:10px 0;min-height:150px;height:auto !important;height:150px;background:#fff;line-height:1.8em}

#memo_write textarea {height:100px}

/* 스크랩 */
#scrap_do table {margin:0 0 10px;width:100%}
#scrap_do textarea {height:100px}

/* 회원 비밀번호 확인 */
#mb_confirm {position:relative;left:50%; top:20%; bottom:20%; transform:translateX(-50%);width:550px;background:none;border-radius:20px;overflow:hidden; font-size:1.1em;
    width:100%; border:none; border-radius:0; box-shadow:none; -webkit-box-shadow:none;}
#mb_confirm h1 {margin:0px;font-size:1.2em;text-align:center;padding:30px 0 20px;letter-spacing:-1px; font-weight:700;}
#mb_confirm p {padding:20px;border-bottom:0;text-align:center;}
#mb_confirm p strong {display:block}
#mb_confirm fieldset {margin:0 auto; width:260px; padding:30px 0;background:none;text-align:left; line-height:2em;}
#mb_confirm fieldset .frm_input {background:none!important; width:100%; line-height:40px; height:40px; border:0; border-bottom:1px solid #ddd;}
#mb_confirm label {display:none;}
#mb_confirm_id {display:inline-block;margin-right:20px;font-weight:bold}

#mb_confirm .btn_submit{width:60px;height:50px;background:#EB7B2D;width:100%;border-radius:0px !important; border:0;border-bottom:0;box-shadow:0;font-size:1.3em;font-weight:bold;margin:5px 0}

#mb_confirm .btn_confirm{width:100%;background:none;padding:30px 0;margin:0; font-size:1em;}
#mb_confirm .btn_confirm a{text-decoration:none;color:#EB7B2D;padding-right:10px;display:inline-block}

#md_info p{}
#md_info{font-size:0.9em; color:#666;}

/* 비밀글 비밀번호 확인 */
#pw_confirm {margin:0 auto;padding:100px 0;width:500px}
#pw_confirm h1 {margin:0 0 20px;font-size:1.3em}
#pw_confirm p {padding:20px;border:1px solid #dde4e9;border-bottom:0;background:#fff}
#pw_confirm p strong {display:block}
#pw_confirm fieldset {margin:0 0 30px;padding:30px 0;border:1px solid #e9e9e9;background:#f5f6fa;text-align:center}
#pw_confirm fieldset .frm_input {background-color:#fff !important}
#pw_confirm label {letter-spacing:-0.1em}
#pw_confirm_id {display:inline-block;margin-right:20px;font-weight:bold}

/* 폼메일 */
#formmail #subject {width:386px}
#formmail textarea {height:100px}

/* 자기소개 */
#profile table {margin-bottom:0}
#profile section {margin:0 auto 20px;padding:20px;width:86%}
#profile h2 {margin:0}




/* 인풋 클래스*/
.regist-input { width:100%; background:#FFF !important; border:none; color:#333; padding:10px 20px; font-size:1em; }
select.regist-input{ color:#858585; font-size:1em; text-indent:0; -webkit-appearance:none; -mox-appearance:none; appearance:none; outline: none;}
.regist-input2{ width:100%; background:#FFF !important; border:1px solid #e6e6e6; color:#333; padding:10px; font-size:1.25em; border-radius:3px; }
#bo_sch select, select#ca_name{border:1px solid #e6e6e6; }
.frm-input { background:#FAFAFA; border:1px solid #D6D6D6; color:#333; font-weight:bold; padding:10px; font-size:1.25em; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
::-webkit-input-placeholder { color: #858585; }
::-moz-placeholder { color: #858585; }
:-ms-input-placeholder { color: #858585; }
:-moz-placeholder { color: #858585; }

/* 회원가입 및 거의 모든 곳에 들어갈 박스 스타일 */
.none { display:none; }
.box-article { width:100%; }
.box-article h2 { font-size:1.25em; padding-bottom:10px; color:#523F2E; text-indent:5px; display:none;}
.box-article .box-body { margin-bottom:10px; }
.box-article .box-body:first-child { /*margin-top:5px;*/ }
.box-article .box-title { font-size:1.25em; font-weight:bold; margin-bottom:10px; }
.box-article .box-body dd input{ }
.box-article .box-body dd input.required{ background:#fff !important;}
.box-article .box-body .row { background:#FFF; margin:0; position:relative; margin-bottom:8px;}
.box-article .box-body dl:last-child{border-bottom:0;}
.box-article .box-body .row dd { padding:0; }
.box-article .box-body .row .error { font-size:0.8em; color:#858585;}
.box-article .box-body .row .error.on{color:#FF0000; border-top:1px dotted #ddd; margin-top:5px; padding:5px 10px 5px 10px;}

.status_ico{position:absolute; right:0; top:0px; display:block; margin:8px; width:5px; height:5px; border-radius:50%; background:#ddd; text-align:center; text-indent:-9999px;}
.status_ico.err{background:#FF0000;}
.status_ico.pas{background:#9FCF70;}

/*.status_ico{position:absolute; right:0; top:5px; display:block; margin:8px; width:24px; height:24px;
			background-image:url('img/ico_status01.png'); background-repeat:no-repeat; background-position:left top; background-size:auto 100%;}
.status_ico.err{color:#FF0000; background-position:50% top;}
.status_ico.pas{color:#1EC545; background-position:right top;}
.status_ico.lock_ico1{background-image:url('img/ico_status02.png'); background-size:auto 95%;}
.status_ico.lock_ico2{background-image:url('img/ico_status03.png'); background-size:auto 95% ;}
*/

.box-article .box-body .row div { padding:0; }
.box-article .box-body .row label {}

.box-article .box-body .agree-row { padding:10px; margin:0; }
.box-article .box-body .agree-row dd:first-child { font-size:1.05em;}
.box-article .box-body .agree-row dd:nth-child(3) { padding-top:10px; display:none;}
.box-article .box-body .agree-row .agr_textarea textarea{ width:100%; border:1px solid #DCDCDC; height:80px !important; font-size:12px; }

.box-article .agree-text { background:#FFF !important; width:100% !important; padding:10px !important; border-top-left-radius:4px; border-top-right-radius:4px; margin-bottom:0 !important; height:150px;border:1px solid #e9e9e9;}
.box-article .agree-label { background:#FFF !important; width:100% !important; padding:10px 10px 8px 10px !important; border-bottom-left-radius:4px; border-bottom-right-radius:4px; border: 1px solid #e9e9e9; border-top:0; color:#777; margin-top:-5px;}
.box-article .agree-label input[type=checkbox] { margin-top:-4px; }


.box-article .box-body .option{}
.box-article .box-body .option:after{display:block; content:""; clear:both;}
.box-article .box-body .option li{float:left; margin-right:4px; border:1px solid #e5e5e5; width:18%; padding:8px 5px; text-align:center; border-radius:4px;}
.box-article .box-body .option li.on{ border:1px solid #3d9fea;}
.box-article .box-body .option li img{width:22px; height:auto;}
.box-article .box-body .option li p{font-size:0.75em; line-height:1em; color:#b3b3b3; margin-top:5px;}
.box-article .box-body .option li.on p{color:#5aaff0}

.bt_btn{padding:10px;}
.bt_btn .col-xs-6 a{display:block; background:#32adec; padding:10px 0; color:#fff; font-size:1.3em;}
.bt_btn .col-xs-6{padding-right:1px; padding-left:1px;  text-align:center;}


/*회원정보*/
#join_info{margin-bottom:20px;}
#join_info input{width:100%;background-color:#f8f9fd !important;border:1px solid #dee7f0;height:50px;line-height:50px;text-indent:10px;margin-bottom:15px;padding:0;
    box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); border-radius:10px;}
#join_info label{display:none;}
#join_info .box-body,
#join_agr .box-body{}


/*동의*/
#join_agr .btn-agr{font-size:12px; padding:5px 10px; background:#313131; color:#F4D722; font-weight:600;}
#join_agr .box-body .agree-row:last-child{}


/*회원구분*/
#mb_part{padding:0px 0 5px 0;}

/*라디오박스*/
#mb_part .radio input[type=radio] { display: none; }
#mb_part .radio input[type=radio] + label { cursor: pointer; margin-right:5px; padding-left:0; font-weight:600; color:#1a1a1a; }
#mb_part .radio input[type=radio] + label > div {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: white;
    box-sizing: border-box;
    width: 20px; height: 20px;
    margin-top: -4px;
    border: 1px solid #777;
    border-radius: 50%;
    margin-right:5px;
    position:relative;
}
#mb_part .radio input[type=radio]:checked + label > div:before {
    /*font-family: "Font Awesome 5 Pro";
    color: #215bab;
    content: "\f00c";
    font-weight:900;*/
    position:absolute;
    content:"";
    width:8px; height:8px;
    background:#75d78e;
    border-radius:50%;
    top:50%; left:50%; transform:translate(-50%,-50%);

}
#mb_part .radio input[type=radio] + label:hover > div { border-width: 2px; }

/*약관동의*/
.box-article #join_agr .box-body .row{ background:none; padding:5px 0;}

/*체크박스*/
#join_agr .chk input[type=checkbox] { display: none; }
#join_agr .chk input[type=checkbox] + label { cursor: pointer; margin:5px 0; font-size:0.9em; }
#join_agr .chk input[type=checkbox] + label > div {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: white;
    box-sizing: border-box;
    width: 20px; height: 20px;
    margin-top: -4px;
    border: 1px solid #777;
    border-radius: 4px;
    margin-right:5px;
    position:relative;
}
#join_agr .chk input[type=checkbox]:checked + label > div:before {
    font-family: "Font Awesome 5 Pro";
    color: #e2364c;
    content: "\f00c";
    position:absolute;
    top:50%; left:50%; transform:translate(-50%,-50%);
    font-weight:900;
}
#join_agr .chk input[type=checkbox] + label:hover > div { border-width: 2px; }
