@charset "utf-8";
/* CSS Document */


#oneshot_2_7 { width:100%; position:relative;}
#oneshot_2_7 .la_title {display:block;padding:0px 0 20px 0; font-size:2em;font-weight:500; letter-spacing:-1.5px; color:#333; border-bottom:1px solid #ddd; margin-bottom:20px;}
#oneshot_2_7 .lt_more{ position:absolute; top:10px; right:0px;}
#oneshot_2_7 .lt_more a{ font-size:1.2em; color:#555;}
#oneshot_2_7 .lt_more a:hover{ color:#333;}

#oneshot_2_7 ul {list-style:none;clear:both;margin:0;padding:0;}
#oneshot_2_7 ul:after{ display:block; content:""; clear:both;}
#oneshot_2_7 li {list-style:none;float:left;text-decoration:none; width:33%;}
#oneshot_2_7 #quick{position: absolute; z-index: 2; top: -5px; left: 5px; width: 50px;}

#oneshot_2_7 #border { position:relative; overflow:hidden;}
#oneshot_2_7 #border:hover{}

#border .over{position:absolute; left:0; top:275px; width:100%; height:100%; text-align:center; background:rgba(0,0,0,0.8); opacity:0; transition:all 0.5s; display:none;}
#border .over a{color:#fff; display:block; width:100%; padding:50% 10%; font-size:1.2em;}
#border .over a p{border:1px solid rgba(255,255,255,0.5); font-size:11px; padding:5px 10px; width:100px; margin:10px auto;}
#border:hover .over{top:0; opacity:1;}



#oneshot_2_7 .subject_set .sub_title{ text-align:center; height:auto;}
#oneshot_2_7 .subject_set .sub_title a{ font-weight:500;font-size:13.5px;color:#333;line-height:1.2em;letter-spacing:-0.5px;}
#oneshot_2_7 .subject_set .sub_content{ margin-top:15px; overflow:hidden; font-size:12px; color:#777; text-align:center; line-height:1.3em;border-top:2px dotted #ddd; padding-top:15px; display:none;}

/*#oneshot_2_7 .subject_set .sub_datetime{
margin-left:7px;
padding-top:3px;
font-size:12px;
font-family:Dotum,Verdana,Arial;
color:#999;
line-height:28px
}*/



@media (max-width:1000px) {
    #border {}
    #oneshot_2_7 li{}
    #oneshot_2_7 #border{ margin:0 4px 8px 4px;}
    #oneshot_2_7 .img_set{ width:100%; height:auto;}
    #oneshot_2_7 .img_left{ height:80px;}

    #oneshot_2_7 .subject_set .sub_content{ height:62px;}
    #oneshot_2_7 .subject_set .sub_title{ height:35px; overflow:hidden;}

    #oneshot_2_7 .la_title { padding:0px 0 10px 0; font-size:1.5em; margin-bottom:10px;}
    #oneshot_2_7 .lt_more a{ font-size:1em;}

}

